<div class="row mt-4 mx-auto">
  <main class="mx-auto container container-fluid mt-5">
    <a href="/api/jobs" class="btn btn-primary a-jello-vertical">My Jobs</a>
    <a href="/" class="btn btn-primary a-jello-vertical">Dashboard</a>
  </main>
  {{#if jobs.length}}
    <div class="row">
    <div class="col-md-10 mx-auto job-list">
      <h3>Current Applications:</h3>

      {{#each jobs as |job|}}
        <div class="row mb-10">
          <div class="col-md-10">

            <div class="card bg-primary rounded mb-3 a-dance">
              <div class="card-header bg-success text-white">{{job.title}}</div>

              <div class="card-body bg-light">
                <h6 class="card-subtitle mb-2 text-muted">Status: {{job.status}}</h6>
                <p class="card-text">Description: {{job.description}}</p>
                <p class="card-text">Salary: {{job.salary}}</p>
                <div class="mb-10">
                  {{#each job.tags}}
                    <span class="badge bg-warning">{{name}}</span>
                  {{/each}}
                </div>
                <button class="btn btn-sm btn-danger a-wobble-bottom" data-id="{{job.id}}">DELETE</button>
                <a href="/editJob/{{job.id}}" class="btn btn-sm btn-info a-wobble-bottom">EDIT</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    </div>
  {{else}}
    <div class="col-md-12">
      <h3>No current applications.</h3>
    </div>
  {{/if}}
</div>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
