
<div class="row mt-4">
  {{#if jobs.length}}

  <div class="col-md-6 jobs-list">
    <h3>Current Applications:</h3>
    
    {{#each jobs as |job|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <div class="card bg-primary mb-3">
          <div class="card-header bg-success text-white">{{job.title}}</div>
          <div class="card-body bg-">
            <h6 class="card-subtitle mb-2 text-muted">{{job.user.username}}</h6>
            <p class="card-text">{{job.description}}</p>
            <div>
              {{#each job.tags}}
                <span class="badge bg-secondary">{{name}}</span>
              {{/each}}
            </div>
            <button class="btn btn-sm btn-danger" data-id="{{job.id}}">DELETE</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

<script src="./js/myApplications.js"></script>
</div>

