<div class="text-center">
    
    <h1>{{job.title}}</h1><span>{{job.salary}}</span>
    <p>{{job.description}}</p>
    <p>{{job.status}}</p>
    <p>
        <button class="btn btn-primary"><a href="/reviews">Leave a Review</a></button>
    </p>

    <h2>Reviews</h2>
    {{#if reviews.length}}
    <ul>
        {{#each reviews as |review|}}
        <li>
            <p>{{review.content}}</p>
            <p>{{format_date date_created}}</p>
            <p>By: {{job.user.username}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No reviews yet.</p>
    {{/if}}

</div>